.Nonavbar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__logo{
        color: aliceblue;
    }
    &__link{
        width: 90px;
        color: aliceblue;
        padding: 10px;
        background-color: rgb(124, 86, 86);
        border-radius: 20px;
        &:active{
            opacity: 0.6;
        }
    }
}